.content-comp {
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.125rem;
  margin-bottom: 1.25rem;

  .form-search {
    position: relative;
    //flex-grow: 1;
    max-width: 25rem;
  }

  input {
    border-radius: 1.5625rem;
    border: .0625rem solid #ccc;
    padding: .75rem 1.25rem;
    width: 100%;
    font-weight: 500;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 .125rem rgba(72, 113, 240, 0.3);
    }
  }

  .search-icon {
    position: absolute;
    color: #4871f0;
    right: -1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.125rem;
  }

  button {
    padding: .75rem 1.5rem;
    border-radius: 1.5625rem;
    background-color: #4871f0;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#4871f0, 10%);
    }
  }
}

@media (max-width: 25rem) {
  .form-search {
    width: 10.625rem;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
}

.spinner {
  border: .75rem solid #f3f3f3;
  /* Color del borde */
  border-top: .75rem solid #4871f0;
  /* Color de la animación */
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}