<div class="content-comp">
    <div class="search-container">
        <div class="form-search">
            <input type="text" [(ngModel)]="username" placeholder="Enter GitHub username" />
            <i class="fas fa-search search-icon"></i>
        </div>
        <button (click)="searchUser()">Search</button>
    </div>

    <div class="spinner-container" *ngIf="loading">
        <div class="spinner"></div>
    </div>
      
    <div *ngIf="!loading">
        <app-user-card *ngIf="user" [user]="user" [repos]="repos"></app-user-card>
    </div>
</div>
