/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto; //Center the container
    background: linear-gradient(to bottom, #ffffff, #e0e0e0);
}

.content{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   height: 92vh;
}

[mb-0] {
    margin-bottom: 0;
}
